[lircd]
nodaemon        = False
driver          = asusdh
device          = {{ lirc_device }}
output          = /var/run/lirc/lircd
pidfile         = /var/run/lirc/lircd.pid
plugindir       = /usr/lib64/lirc/plugins
permission      = 666
allow-simulate  = No
repeat-max      = 600
effective-user  = lirc

[lircmd]
uinput          = False
nodaemon        = False

[modinit]
code = /usr/bin/setfacl -m g:lirc:rw {{ lirc_device }}
