[user]
  name = Dmitry Goloshubov
  email = goloshubov@gmail.com

[includeIf "gitdir:~/git/work/"]
  path = ~/git/work/.gitconfig

[core]
  editor = vim

[merge]
  conflictstyle = diff3

[pull]
  rebase = true
