[Desktop Entry]
Version=1.0
Name=Coridor Camera
Comment=Web App
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="camera-web" firefox --class WebApp-CoridorCamera0001 --name WebApp-CoridorCamera0001 --profile ~/.local/share/ice/firefox/CoridorCamera0001 --no-remote "http://192.168.35.1:8081/1/stream"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=camera-web
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-CoridorCamera0001
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=http://192.168.35.1:8081/1/stream
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

